h1 {
    color: red;
}

p {
    color: red;
}

button {
    color: red;
}

#tomato {
    max-height: 30%;
    max-width: 30%;
    /*position: relative;*/
}

.timer {
    position: absolute;
    top:50%;
    left: 0;
    width: 100%;
    color: white;
}

.thumbnail {
    position: absolute;
}

#pomoTimeValueId {
    font-size: 350%;
}
